@page "/users"
@using Opteamix.AuthorizationFramework.BlazorApp.Models
@using Opteamix.AuthorizationFramework.BlazorApp.Models.Clients

<TopNavbar />
<div class="row mt-5" style="margin-left: 240px; margin-right: 240px;">
    <MenuItems SelectedApplication="@commonService.SelectedApplication.ApplicationId"/>
    <div class="col-8 item-container">
        <CardLayout Width="1060px" Height="140px" ClassName="d-flex align-item-center mb-4">
            <div class="col d-flex align-items-center justify-content-betweem ms-5">
                <label style="font-size: 22px; color: #4E4E4E; font-family: 'Poppins', sans-serif; font-weight: 500; display: flex; margin-right: 20px">Client Name</label>                       
                <CardLayoutImage Width="300px" Height="100px" Image="@commonService.SelectedClient.ImagePath" Image_Width="251px" Image_Height="59px" Hover= "false"/>
                <label style="font-size: 22px; color: #4E4E4E; font-family: 'Poppins', sans-serif; font-weight: 500; display: flex; margin-right: 20px; margin-left: 130px;">Application</label>                       
                <CardLayoutImage Width="200px" Height="100px" Image="@commonService.SelectedApplication.ImagePath" Image_Width="251px" Image_Height="59px" Hover= "false"/>
            </div>
        </CardLayout>
        <CardLayout Width="1060px" Height="620px" ClassName="pt-2">
            <div class="d-flex justify-content-between mx-5 py-3 align-items-center" style="height: 70px;">
                <label style="font-size: 22px; color: #4E4E4E; font-family: 'Poppins', sans-serif; font-weight: 500; display: flex; margin-right: 20px">Users</label>
                <SearchLayout Width="400px" Height="40px"  />
                <div class="col-4 d-flex justify-content-between">
                    <IconButton Width="170px" Height="36px" IconName="fa fa-plus" Text="Create new" />
                    <IconButton Width="118px" Height="36px" IconName="fa fa-trash" Text="Delete" />
                </div>
            </div>
            <div class="d-flex justify-content-between mx-5" style="height:100px; padding-top: 2%;">
                @if (user_state == LoadingContainerState.Loading)
                {
                    <img src="/gif/loading.gif" width="100px" height="100px"/>
                }
                else if (user_state == LoadingContainerState.Loaded)
                {
                    if (DisplayUsers.Count() > 0)
                    {
                        <table> 
                             <tr>
                                <th style="width:40px;"><input type="checkbox" class="checkbox-round" /></th>
                                <th style="width:400px;">Full Name</th>
                                <th style="width:240px;">User Name</th>
                                <th style="width:300px;">Role</th>
                                <th style="width:240px;">Manager</th>
                                <th style="width:300px;">Status</th>
                            </tr>
                             @foreach(var item in DisplayUsers)
                             {
                                <tr>
                                    <td style="width:40px;"><input type="checkbox" class="checkbox-round" /></td>
                                    <td class="table-data-link" style="width:400px;">@item.FullName</td>
                                    <td style="width:240px;">@item.UserName</td>
                                    <td style="width:300px;">@item.Role</td>
                                    <td style="width:300px;">@item.ManagerName</td>
                                    <td style="width:300px;">@item.Status</td>
                       
                                </tr>
                             }
                        </table>
                    }
                    else
                    {
                        <table style="height: 40px;"> 
                             <tr style="height: 100%;">
                                <th style="width:40px;"><input type="checkbox" class="checkbox-round" /></th>
                                <th style="width:400px;">Full Name</th>
                                <th style="width:240px;">User Name</th>
                                <th style="width:300px;">Role</th>
                                <th style="width:240px;">Manager</th>
                                <th style="width:300px;">Status</th>
                            </tr>
                        </table>
                    }
                }
            </div>
        </CardLayout>
       
    </div>
</div>